/* Write your styles */
.header{
    height: 40px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: relative;
}
select{
    position: absolute;
    top: 10px;
    left: 10px;
}
.create{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;
}

.feed{
    width: 320px;
}
.feed .card{
    width: 320px;
    text-align: center;
    margin: 10px auto;
}
.feed .card img{
    width: 280px;
    height: 280px;
    margin: 0 auto;
}